@import  "../index.scss";
.card{
    background-color: $brand-color;
    width: 21em;
    height: 20em;
    text-align: center;
    padding-left :1em;
    padding-right :1em;
    margin:auto;
    border-radius: 1em;
    @media (max-width:768px){
        margin-top: 2em;

    }
    h2{
        font-size: 2.3em;
        color: $light-color;
        font-weight: 700;
        text-transform: uppercase;
    }
    p{
        font-size:2em;
        color: $light-color;
    }
    img{
        color: $light-color;
        width: 200px;
        height: 200px;
    }
}

