@import "../index.scss";
.projects{
    padding-bottom: 5em;
    .projects-content{
        h1{
            text-align: center;
            padding-top: 1.2em;
            padding-bottom: 0.6em;
            text-transform: uppercase;
            color: $brand-color;
            font-size: 3em;
        }
    }
}
@media(min-width:768px){
    .projects-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        flex-direction: row;

    }
}