@use "../index.scss";
.skills{
    padding-top: 2em;
    h1{
        text-align: center;
        padding-top: 2em;
        padding-bottom: 0.5em;
         text-transform: uppercase;
         color: index.$brand-color;
         font-size: 3em;
     }
     .skills-content{
       padding-top: 1em;
    }
    }

@media(min-width:768px){
    .skills-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        flex-direction: row;

    }
}