@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');
$brand-color: #654EB0;
$darkest-color: #101935;
$dark-color: #334069;
$mid-color: #564787;
$light-color: #CCC6E1;
$lightest-color: #FFFFFF;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
section{

    min-height: 100vh;
}