@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');
$brand-color: #654EB0;
$darkest-color: #101935;
$dark-color: #334069;
$mid-color: #564787;
$light-color: #CCC6E1;
$lightest-color: #FFFFFF;

*{
    transition-duration: 350ms;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
*::selection{
    background-color: $mid-color;
    color: $light-color;
}
section:nth-child(odd){
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
section:nth-child(even){
    background-image: url("./assets/background-inverted.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  
}

button{
    border: 3px solid $light-color;
    background-color: transparent;
    width: 10em;
    height: 3em;
    border-radius: 1em;
    font-size: 1.5em;
    text-align: center;
    color: $light-color;
    font-weight: 700;
    text-transform: uppercase;
 
}
button:hover{
    background-color: $light-color;
    color: $brand-color;
    a{
        color: $brand-color;
    }
}
a{
    text-decoration: none;
}